TTS_INPUT=text.txt
TTS_OUTPUT=output.mp3
TTS_PY_RUNTIME=py
TTS_VOICE=id-ID-GadisNeural
TTS_RATE=-8%
TTS_PITCH=-2Hz
TTS_VOLUME=0%
TTS_HUMANIZE=false
TTS_HUMANIZE_INTENSITY=0.45
TTS_AUTO_PUNCTUATE=true
TTS_AUTO_PUNCTUATE_MODE=balanced
TTS_TEXT_REWRITE=true
TTS_TEXT_LEXICON=config/text/lexicon.json
TTS_HYBRID_PROSODY=true
TTS_PROSODY_LIMITER=true
TTS_PROSODY_LIMITER_STRENGTH=0.64
TTS_STYLE=natural
TTS_AUTO_TRAIN=true
TTS_AUTO_TRAIN_MIN_FEEDBACK=2
TTS_ML_POLICY=true
TTS_SEGMENT_CONCURRENCY=1
WEB_PORT=3030
